.navigation {
  background-color: rgba(0, 0, 0, 0.712);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  background-color: #aa401dc5;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 105px;
  height: auto;
  width: 290px;
  padding: 20px;
}

.profile-dropdown li {
  color: white;
  font-size: 20px;
  list-style-type: none;
  margin: 7px 5px;
}

.nav-buttons {
  height: 90px;
}

.nav-but {
  background-color: unset;
  border: unset;
}
