.navigation {
  background-color: rgba(0, 0, 0, 0.801);
  border-bottom: 1px solid rgba(113, 113, 119, 0.76);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  background-color: #aa401dc5;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 105px;
  height: auto;
  width: 290px;
  padding: 20px;
}

.profile-dropdown li {
  color: white;
  font-size: 20px;
  list-style-type: none;
  margin: 7px 5px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
}

.logo {
  height: 33px;
}

.nav-but {
  background-color: unset;
  border: unset;
}

.searchbar-container {
  display: flex;
  align-items: center;
}
.search-border {
  background-color: #181e22;
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 600px;
}

.mag-glass {
  color: white;
  font-size: 19px;
  margin-left: 20px;
}

.input-search {
  background-color: unset;
  font-size: 15px;
}
