.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-text {
    color: white;
}

.width-65 {
    width: 65%;
}

.width-95 {
    width: 95%;
}

.home-main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tiling-container {
    display: grid;
    padding-top: 20px;
    width: 100%;
}

.artist-tile-container {
    background-color: #0e1114;
    flex-direction: column;
    padding: 0 20px;
    margin: 20px 0;
    box-sizing: border-box;
    transition-duration: 250ms;
    height: 337px;
    width: 100%;
}

.artist-tile-container:hover {
    background-color: #181e22;
    transition-duration: 250ms;
    border-radius: 10px;
}

.artist-tile {
    border-radius: 10px;
    max-height: 300px;
    max-width: 250px;
    margin: 0 auto;
}

.name-artist {
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
}

.artist-img {
    border-radius: 10px;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.home-sidebar, .home-chat {
    /* background-color: rgb(116, 116, 116); */
    display: flex;
    position: fixed;
    top: 56px;
    bottom: 0vh;
    width: 200px;
    margin: 12px 27px;
}

.home-sidebar {
    left: 0vh;
    padding-left: 1px;
}

.home-chat {
    right: 0vh;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tile-container {
    height: 100%;
    width: 100%;
}

.post-tile, .border {
    width: 100%;
}

.post-tile {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 8px 10px;
    transition-duration: 250ms;
}

.post-tile:hover {
    background-color: #181e22;
    transition-duration: 250ms;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.post-head p {
    margin: unset;
    font-size: 12px;
}

.post-dropdown-menu {
    background-color: #181e22;
    position: relative;
    left: 140px;
    top: 50px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.post-footer {
    height: 30px;
}

.post-icon-style {
    vertical-align: middle;
    font-size: 17px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.border {
    background-color: rgba(113, 113, 119, 0.76);
    height: 1px;
    margin: 8px 0;
    width: 100%;
}

.side-border {
    background-color: rgba(113, 113, 119, 0.76);
    margin: 0 10px;
    width: 1px;
    height: 100%;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 262px;
}

.darkgrey-background {
    background-color: rgba(48, 48, 51, 0.76);
}

.grey-text {
    color: rgba(147, 147, 151, 0.89);
}

.err-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 20px;
}

@media (max-width: 425px) {
    .artist-tile-container {
        height: unset;
    }
}

@media (max-width: 767px) {
    .tiling-container {
        grid-template-columns: 100%;
    }
}

@media (max-width: 1023px) {
    .tile-content-layout {
        padding: 100px 0;
    }

    .home-sidebar, .home-chat {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .tiling-container {
        grid-template-columns: 50% 50%;
    }
    .home-sidebar, .home-chat {
        width: 150px;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .tiling-container {
        grid-template-columns: 33% 34% 33%;
    }
    .home-sidebar, .home-chat {
        width: 200px;
    }
}

@media (min-width: 1920px) and (max-width: 2079px) {
    .tiling-container {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .home-sidebar, .home-chat {
        width: 250px;
    }
}

@media (min-width: 2080px) {
    .tiling-container {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .home-sidebar, .home-chat {
        width: 300px;
    }
}
