.border-right-red {
    border-right: 1px solid #aa401dc5;
}

.border-right-blue {
    border-right: 1px solid #1d7daac5;
}

.active-blue {
    color: #1d7daac5;
    font-weight: 900;
    text-shadow: 0 0 20px;
}

.manage-layout {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-layout {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    width: 1000px;
    margin: 30px;
    /* overflow: auto; */
}

.back-image {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px;
    position: fixed;
    width: 1000px;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-bottom: 110px;
}

.tour-tile {
    background-color: rgba(103, 99, 96, 0.764);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 0 20px;
    height: 60px;
    width: 950px;
}

.tour-show {
    background-color: rgba(103, 99, 96, 0.764);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 25% 20% 10% 10%;
    position: relative;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 5px;
    margin-left: 55px;
    padding: 0 20px;
    height: 40px;
    width: 900px;
}

.tour-show p,
.merch-edit p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 2px;
}

.name-edit {
    display: flex;
}

.merch-edit {
    display: flex;
    justify-content: space-between;
    width: 200px
}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-buttons {
    display: flex;
}

.add-button {
    align-self: flex-end;
    background-color: unset;
    border: unset;
    /* color: #aa401dc5; */
    color: #16F596;
    font-size: 25px;
    padding: 6px;
}

.edit-name-button {
    background-color: unset;
    border: unset;
    color: #16F596;
    font-size: 15px;
}

.edit-buttons {
    background-color: unset;
    border: unset;
    color: #16F596;
    font-size: 18px;
    padding: 10px;
}

.delete-buttons {
    background-color: unset;
    border: unset;
    color: #F67D68;
    font-size: 18px;
    padding: 10px;
    height: fit-content;
}

@media (min-width: 2300px) {
    .manage-layout {
        grid-template-columns: 30% 70%;
    }
    .manage-menu {
        height: 80%;
        width: 20%;
    }
    .back-image,
    .content-layout,
    .content {
        width: 1500px;
    }
    .tour-tile {
        width: 1450px;
    }
}

@media (max-width: 1380px) {
    .manage-layout {
        grid-template-columns: 30% 70%;
    }
    .manage-menu {
        height: 80%;
        width: 20%;
    }
    .back-image,
    .content-layout,
    .content {
        width: 500px;
    }
    .tour-tile {
        width: 450px;
    }
}

@media (max-width: 800px) {
    .manage-layout {
        display: flex;
        justify-content: center;
    }
    .manage-menu {
        border: unset;
        display: flex;
        flex-direction: row;
        align-items: start;
        position: absolute;
        top: -30px;
        width: 100%;
        height: 30px;
    }
    .manage-menu li {
        width: fit-content;
        height: fit-content;
    }
    .nav-link {
        padding: unset;
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    .back-image {
        display: none;
    }

    .content {
        width: 90%;
    }

    .manage-layout {
        margin: 30px 0;
    }

    .content-layout {
        margin: unset;
    }

    .content-layout {
        width:  90%;
    }
    .tour-tile {
        width: 85%;
    }
}
