.band-pic {
    width: 100%;
}

.artist-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10px;
    height: 125px;
    width: 100%;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.social-buttons button {
    background-color: unset;
    border: unset;
    margin: 0 5px;
}

.tour-container {
    display: grid;
    grid-template-rows: 100px 700px;
    height: 900px;
    width: 100%;
}

#tour-head {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shows-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.show-tile {
    background-color: rgba(237, 232, 228, 0.193);
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 300px;
    margin: 5px;
    height: 100px;
    width: 1000px;
}

.location {
    align-self: center;
}

.tickets {
    align-self: center;
    color: white;
    padding: 10px;
    text-align: end;
}

.show-button {
    background-color: black;
    color: white;
    height: 25px;
    margin: 5px;
    width: 100px;
}

.info {
    padding: 10px;
}

.shows {
    margin: 5px 10px;
}

@media (max-width: 1023px) {
    .show-tile {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 300px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .info p {
        margin: unset;
        font-weight: 100;
    }

    .tickets {
        padding: 0 10px;
    }
}

@media (min-width: 1441px) {
    .show-tile {
        height: 150px;
        /* width: 80%; */
    }
    .shows-container {
        width: 80%;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
