.artist-page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.band-pic {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.artist-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.artist-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* position: absolute; */
    top: 10px;
    height: 50px;
    width: 100%;
}

.social-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.social-buttons {
    background-color: unset;
    border: unset;
    color: white;
    font-size: 13px;
    margin: 0 5px;
    transition-duration: 500ms;
}

.social-buttons:hover {
    font-size: 20px;
    transition-duration: 500ms;
}

.tour-container {
    display: grid;
    grid-template-rows: 100px auto;
    margin-bottom: 50px;
}

.merch-container {
    display: flex;
    flex-direction: column;
}

.artist-headers {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shows-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.show-tile {
    background-color: rgba(237, 232, 228, 0.193);
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 300px;
    margin: 5px;
    max-height: 120px;
    width: 1000px;
}

.location {
    align-self: center;
}

.tickets {
    align-self: center;
    color: white;
    padding: 10px;
    text-align: end;
}

.show-button {
    background-color: black;
    color: white;
    height: 25px;
    margin: 5px;
    width: 100px;
}

.info {
    padding: 10px;
}

.shows {
    margin: 5px 10px;
}

.price-name {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 5px 30px;
    height: 30px;
}

.price-name p {
    margin: 0;
}

@media (max-width: 1023px) {
    .show-tile {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 300px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .info p {
        margin: unset;
        font-weight: 100;
    }

    .tickets {
        padding: 0 10px;
    }
}

@media (min-width: 1441px) {
    .show-tile {
        height: 150px;
        /* width: 80%; */
    }
    .shows-container {
        width: 80%;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
